name: Pull Requests
on:
  pull_request:
    branches: ["main"]
jobs:
  build-pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: webiny/action-conventional-commits@v1.2.0
      - name: Increment version
        id: increment-version
        uses: RichardInnocent/semantic-versioning-maven@v0.1.0
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: "21"
          distribution: "temurin"
          cache: maven
      - name: Setup Node.js environment
        uses: actions/setup-node@v4.0.0
        # with:
        #   cache: npm
      - name: Run OpenRewrite # TODO : open pr with all changes
        run: ./mvnw rewrite:run
      - name: Check if there are refactored changes
        id: changes-openrewrite
        uses: UnicornGlobal/has-changes-action@v1.0.11
      - name: Process refactoring changes
        if: steps.changes-openrewrite.outputs.changed == 1
        uses: actions/github-script@v3
        with:
          script: |
            core.setFailed('Repository was dirty after refactoring pass')
      - name: Run Spotless # TODO : open pr with all changes
        run: ./mvnw spotless:apply
      - name: Check if there are style changes
        id: changes-spotless
        uses: UnicornGlobal/has-changes-action@v1.0.11
      - name: Process lint changes
        if: steps.changes-spotless.outputs.changed == 1
        uses: actions/github-script@v3
        with:
          script: |
            core.setFailed('Repository was dirty after lint pass')
      - name: Build with Maven
        run: ./mvnw -B package -Drevision='${{ steps.increment-version.outputs.new-version }}' --file pom.xml
